@import '../../styles/variable';

.footer-container {
    width: 100%;
    min-height: 15vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        color: $white;
    }
    .link{
        display: flex;
    }
}