// primary colors

$white: #ffffff;
$black: #000000;
$background-color: #ffffff;
$orange: #ec7a0b;


// Font family
$font-family: Mada, Lato, sans-serif, arial;


//media queries
$mobile: 'only screen and (max-width:605px)';
$mobile-small: 'only screen and (max-width:450px)';
$tablet-big: 'only screen and (max-width:1100px)';
$tablet: 'only screen and (max-width:750px)';
$desktop: 'only screen and (max-width:1000px)';